/* color palette from <https://github.com/vuejs/theme> */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* html,
body {
  touch-action: auto;
  overscroll-behavior: auto;
  height: 100%;
} */

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hack for iOS Safari: */
@supports (-webkit-touch-callout: none) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}
.ios-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}
@media (orientation: landscape) {
  .ios-safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen,
  .min-h-screen {
    height: -webkit-fill-available !important;
    min-height: -webkit-fill-available !important;
  }
}

/* compass buttom scale */
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-compass {
  width: 40px;
  height: 40px;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-compass-icon {
  width: 100%;
  height: 100%;
}

/* logo */
.mapboxgl-ctrl-bottom-left {
  scale: 80%;
  left: -8px !important;
}

/* compass */
.mapboxgl-ctrl-group {
  scale: 90%;
}

/***    CUSTOME STYLES FOR MAPBOX PLUGIN  Mapbox GL Directions    ***/

/* hide panel mapbox-gl-directions */
.mapbox-directions-step {
  display: none !important;
}

@media (max-width: 639px) {
  .mapboxgl-ctrl-left {
    top: unset !important;
    bottom: -52px !important;
    left: -26px !important;
    scale: 80%;
  }
}

@media (min-width: 640px) and (max-width: 1279px) {
  .mapboxgl-ctrl-left {
    position: absolute !important;
    top: 52px !important;
    left: -26px !important;
    scale: 80%;
  }
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 16px !important;
}

.mapbox-directions-profile label {
  font-size: 16px !important;
  color: #333333 !important;
}

@media (min-width: 1280px) {
  .mapboxgl-ctrl-left {
    top: 84px !important;
    left: 4px !important;
  }
  .mapboxgl-ctrl-geocoder input[type='text'],
  .mapbox-directions-profile label {
    font-size: 14px !important;
  }
}

.mapbox-directions-profile {
  margin: 7px 0 0 0 !important;
}

.mapboxgl-ctrl-directions {
  margin: 0 !important;
}

.mapbox-directions-instructions {
  overflow-x: hidden !important;
}

.directions-control-instructions {
  margin-bottom: -20px;
}

.mapbox-directions-error {
  padding: 4px 20px !important;
}

.mapbox-directions-profile {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}
.mapbox-directions-component-keyline {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}

/* Injected "Save route" button */
.my-save-route-btn-class {
  position: absolute;
  display: flex;
  align-items: center;
  height: 80%;
  margin: 2px 0;
  top: 2px;
  right: 4px;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 8px;
  border-radius: 10px;
  background-color: #a7fcd1;
  color: #333333;
  transition: all 0.2s ease-in-out;
}

.my-save-route-btn-class:hover {
  color: #232323;
  align-items: center;

  background-color: #91ffc8 !important;
  transform: scale(0.85);
}

.my-addpoint-btn-class {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 28px;
  right: 41px;
  z-index: 10;
  background: #a7fcd1 !important;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.my-addpoint-btn-class:hover {
  transform: scale(0.85) !important;
  background: #91ffc8 !important;
}

.mapboxgl-ctrl-geocoder {
  color: #333333 !important;
}
